<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nulla, iste, molestias culpa repellat nihil asperiores ipsa tenetur error mollitia porro pariatur beatae nobis vitae sapiente incidunt provident soluta quam.</p>
